<div class="shop" fxLayout="column" fxLayoutAlign="start center">
  <h1 class="mat-display-2">Checkout out amzing products</h1>
  <div class="shop_filter-menu">
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)='getAllProducts()'>All Products</button>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>filter_list</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>format_list_bulleted</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <div *ngIf='products'>
    <div *ngIf='products.length < 1'>
      <app-empty [title]="'No products found!'" [icon]="'move_to_inbox'"></app-empty>
    </div>
    <div class="shop_container" *ngIf='products.length>0'>
      <app-product-list [products]='products'></app-product-list>
    </div>
  </div>

  <div class="spinner" fxLayout="column" fxLayoutAlign="center center" *ngIf='!products'>
    <mat-spinner></mat-spinner>
  </div>

</div>
