<div class="shopping-cart" fxLayout="column" fxLayoutAlign="start center">
  <h1 class="mat-display-2">Your Shopping Cart</h1>
  <hr>
  <div class="shopping-cart-products-container">
  </div>
  <div *ngIf='products.length<1'>
    <app-empty [title]="'You didn\'t add any products yet!'" [icon]="'remove_shopping_cart'"></app-empty>
  </div>
  <div class="home-page_latest-products" *ngIf='products?.length > 0' fxLayout="row">
    <div *ngFor='let product of products'>
      <app-card [product]='product'></app-card>
    </div>
  </div>
  <div *ngIf='products.length>0'>
    <h2>Total: {{totalToPay}}$</h2>
    <button mat-raised-button color="primary" type="button" (click)='onPurchase()'>Pay Now</button>
  </div>
</div>
