<div class="single-product" fxLayout="column" fxLayoutAlign="start center" *ngIf='product'>
  <h1 class="mat-display-2">{{product.title}}</h1>
  <div class="single-product_container" fxLayout="row" fxLayoutAlign="center center">
    <div class="single-product_img" fxLayout="row" fxLayoutAlign="center center">
      <img src="{{product.imageUrl}}" alt="">
    </div>
    <div class="single-product_info">
      <div>
        <p><strong>Category: </strong> {{product.category}}</p>
        <p  style="margin-top: 2rem;"><strong>Description: </strong></p>
        <p>{{product.description}}</p>
        <p style="margin-top: 2rem;"><strong>Seller: </strong> Iliyan</p>
      </div>
      <div>
        <p><strong>Price: </strong> {{product.price}}$</p>
        <button mat-raised-button color="primary">ADD TO CARD</button>
      </div>
    </div>
  </div>
</div>
<div class="spinner" fxLayout="column" fxLayoutAlign="center center" *ngIf='!product'>
  <mat-spinner></mat-spinner>
</div>
