<div class="single-product" fxLayout="column" fxLayoutAlign="start center">
  <h1>Title</h1>
  <div class="single-product_container" fxLayout="row" fxLayoutAlign="center center">
    <div class="single-product_img" style="background-image:url(https://res.cloudinary.com/ilnphotography/image/upload/v1592561182/dev-social.jpg)"> asasDad</div>
    <div class="single-product_info">
      <h2>title</h2>
      <p>seller</p>
      <p>description</p>
      <p>cathegory</p>
      <p>price</p>
      <button mat-raised-button color="primary">ADD TO CARD</button>
    </div>
  </div>
</div>
