.main-nav{
  background-color: rgb(218, 40, 70);
  display: flex;
  padding: 1rem 2rem;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  color: white;

  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;

    li{
      padding: 0 1rem;
    }
  }
}