<div class="login" fxLayout="column" fxLayoutAlign="start center">
  <h1 class="mat-display-2">Login</h1>
  <form (ngSubmit)="onLogin(f)" #f="ngForm" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" name="email" placeholder="Ex. pat@example.com" matInput ngModel required email>
      <mat-error>
        Please enter a valid email address!
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password" name="password" placeholder="Ex. pat@example.com" matInput ngModel required minlength="6">
      <mat-error>
        Please enter a password!
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</div>
