<div class="login" fxLayout="column" fxLayoutAlign="center center">
  <h1>Login</h1>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Ex. pat@example.com">
      <mat-error>
        Please enter a valid email address
      </mat-error>
      <mat-error>
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Ex. pat@example.com">
      <mat-error>
        Please enter a valid email address
      </mat-error>
      <mat-error>
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Ex. pat@example.com">
      <mat-error>
        Please enter a valid email address
      </mat-error>
      <mat-error>
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field><mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Ex. pat@example.com">
      <mat-error>
        Please enter a valid email address
      </mat-error>
      <mat-error>
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</div>
