.user_profile {
  padding: 0 10%;
  min-height: 70vh;

  &-header {
    margin-top: 2rem;
    padding: 2rem;
    width: 60%;
    min-height: 20rem;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.363);


    &-imagebox {
      overflow: hidden;
      width: 7rem;
      height: 7rem;
      border-radius: 100%;
      background-position: center;
      background-size: cover;
      margin-right: 2rem;
    }

    &-info {
      margin-top: 2rem;
      align-items: space-around;

      button {
        margin: .5rem 0;
      }
    }
  }
}
