<div class="user_profile " fxLayout="column" fxLayoutAlign="start center" *ngIf='user'>
  <div class="user_profile-header" fxLayout="row">
    <div fxLayout="row">
      <div class="user_profile-header-imagebox" style="background-image: url('{{user.imageUrl}}');">
      </div>
      <div fxLayout="column" fxLayoutAlign="center start">
        <h1 style="margin: 0" class="user_profile-name">{{user.displayName}}</h1>
        <h2 class="user_profile-info" style="margin: 0">{{user.email}}</h2>
        <p>Joined: {{user.createdAt|date}}</p>
      </div>
    </div>
    <div class="user_profile-header-info" fxLayout="column">
      <a routerLink="/create-product"><button mat-raised-button color="primary">Create new Product</button></a>
      <a routerLink="/purchase-history"><button mat-raised-button color="primary">View purchaise history</button></a>
    </div>
  </div>

  <div class="user_profile-user-items" fxLayout="column" fxLayoutAlign="center center">
    <h1 class="mat-display-2">Your pusblished products</h1>
    <mat-toolbar style="margin-top: 2rem;">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Products</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>filter_list</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>format_list_bulleted</mat-icon>
      </button>
    </mat-toolbar>
    <div class="user_profile-products-list" *ngIf='user' fxLayout="row" fxLayoutAlign="center center">
      <app-product-list [products]='user.products'></app-product-list>
    </div>
    <div *ngIf='user.products.length < 1'>
      <app-empty [title]="'You didnt create any products yet!'" [icon]="'move_to_inbox'"></app-empty>
    </div>
  </div>
</div>
<div class="spinner" fxLayout="column" fxLayoutAlign="center center" *ngIf='!user'>
  <mat-spinner></mat-spinner>
</div>
