<div class="user_profile " fxLayout="column" fxLayoutAlign="center center">
  <div class="user_profile-header secondary" fxLayout="row">
    <div class="user_profile-header-imagebox"
      style="background-image: url(https://res.cloudinary.com/ilnphotography/image/upload/v1592561182/dev-social.jpg);">
    </div>
    <div class="user_profile-header-info" fxLayout="column">
      <h1 class="user_profile-name">Iliyan</h1>
      <h2 class="user_profile-info">ilqnts@gmail.com</h2>
      <a routerLink="/create-product"><button mat-raised-button color="primary">Create new Product</button></a>
      <a routerLink="/purchase-history"><button mat-raised-button color="primary">View purchaise history</button></a>
    </div>
  </div>
  <div class="user_profile-user-items" fxLayout="column" fxLayoutAlign="center center">
    <h1>Your pusblished products</h1>
    <div class="user_profile-products-lins" fxLayout="row" fxLayoutAlign="center center">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </div>
</div>
