<div class="home-page">
  <div class="home-page_hero"></div>
  <h1 class="mat-display-2">Cathegories</h1>
  <hr>

  <div class="home-page_cathegories">
    <a routerLink="/shop/cameras">
      <div class="home-page_card">
        <img src="https://static.bhphoto.com/images/images1000x1000/1594281159_1573879.jpg" alt="">
        <h1 class="home-page_card-title">Cameras</h1>
      </div>
    </a>
    <a routerLink="/shop/lenses">
      <div class="home-page_card">
        <img src="https://3.img-dpreview.com/resources/images/buying-and-gift-guides-2017/card-lenses-canon.jpg?v=5217"
          alt="">
        <h1 class="home-page_card-title">Lenses</h1>
      </div>
    </a>
    <a routerLink="/shop/accessories">
      <div class="home-page_card">
        <img src="https://5.imimg.com/data5/JT/WW/MY-27296182/tripod-for-video-500x500.jpg" alt="">
        <h1 class="home-page_card-title">Accessories</h1>
      </div>
    </a>
  </div>

  <h1 class="mat-display-2">Latest Products</h1>
  <hr>
  <div class="spinner" fxLayout="column" fxLayoutAlign="center center" *ngIf='products.length<1'>
    <mat-spinner></mat-spinner>
  </div>
  <div class="home-page_latest-products" *ngIf='products.length > 0' fxLayout="row">
    <div *ngFor='let product of products'>
      <app-card [product]='product'></app-card>
    </div>
  </div>
</div>
