<nav class="main-nav">
  <a routerLink="/">
    <div class="logo">
      <div>
        <mat-icon class="logo-icon">camera</mat-icon>
      </div>
      <h1>PHOTOSTORE</h1>
    </div>
  </a>
  <div>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/shop/all-products">Shop</a></li>
      <li *ngIf='user'><a routerLink="/profile">Profile</a></li>
      <li *ngIf='!user'><a routerLink="/login">Login</a></li>
      <li *ngIf='!user'><a routerLink="/register">Register</a></li>
      <li *ngIf='user' style="cursor: pointer;" (click)='logout()'>Logout</li>
      |
      <li *ngIf='user' class="welcome-message" style="font-size: 1rem;"><span>Hello,&nbsp;</span>{{user.displayName | uppercase}}</li>
      <li>
        <a routerLink="/cart" layout="row" layout-margin>
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-icon>shopping_cart</mat-icon>&nbsp;<span>0</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</nav>
