.main-nav{
  background-color: #3f51b5;
  display: flex;
  padding: 1rem 2rem;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  color: white;

  .logo{
    display: flex;
    align-items:center;
    h1{
      margin: 0;
      margin-left: 1rem;
    }
    

    div{
      width: 3rem;
    }

    &-icon{
      font-size: 3rem;
    }
  }

  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;

    li{
      padding: 0 1rem;
    }
  }
}