<nav class="main-nav">
  <a routerLink="/">
    <div class="logo">
      <div>
        <mat-icon class="logo-icon">camera</mat-icon>
      </div>
      <h1>PHOTOSTORE</h1>
    </div>
  </a>
  <div>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/">Shop</a></li>
      <li><a routerLink="/">Profile</a></li>
      <li><a routerLink="/">Login</a></li>
      <li><a routerLink="/">Register</a></li>
      <li><a routerLink="/">Logout</a></li>
      <li>
        <a routerLink="/" layout="row" layout-margin>
          <div fxLayout>
            <mat-icon>shopping_cart</mat-icon> <span>0</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</nav>
